*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

::selection {
  background-color: #2B8EAD;
  color: #FFFFFF; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #333333; }

.text-center {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 6px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  box-shadow: 0px 4px 0px #2B8EAD, 0px 2px 15px #2B8EAD;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 0px #2B8EAD, 0px 2px 15px #2B8EAD; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0px 4px 0px #2B8EAD, 0px 2px 15px #2B8EAD; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.footer {
  margin-top: 10px; }

.header {
  margin: 20px 15px; }

.container {
  display: flex;
  flex-direction: column; }
  .container .card {
    border-left-width: 6px;
    border-left-style: solid;
    background-color: #EFEFEF;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 2rem; }
  .container .card1 {
    border-color: #6F98A8; }
  .container .card2 {
    border-color: #2B8EAD; }
  .container .card3 {
    border-color: #2F454E; }
  .container .card4 {
    border-color: #2B8EAD; }
  .container .card5 {
    border-color: #2F454E; }
  .container .card6 {
    border-color: #BFBFBF; }
  .container .card7 {
    border-color: #BFBFBF; }
  .container .card8 {
    border-color: #6F98A8; }
  .container .card9 {
    border-color: #2F454E; }
  .container .cards {
    display: grid;
    grid-template-rows: repeat(9, minmax(50px, 1fr));
    grid-gap: 10px; }
    @media only screen and (min-width: 768px) {
      .container .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, minmax(100px, 1fr));
        grid-gap: 0; }
      .container .cards .card {
        line-height: 100px;
        border: none;
        color: #FFFFFF;
        font-size: 7rem; }
      .container .cards .card1 {
        background-color: #6F98A8; }
      .container .cards .card2 {
        background-color: #2B8EAD; }
      .container .cards .card3 {
        background-color: #2F454E; }
      .container .cards .card4 {
        background-color: #2B8EAD; }
      .container .cards .card5 {
        background-color: #2F454E; }
      .container .cards .card6 {
        background-color: #BFBFBF; }
      .container .cards .card7 {
        background-color: #BFBFBF; }
      .container .cards .card8 {
        background-color: #6F98A8; }
      .container .cards .card9 {
        background-color: #2F454E; } }

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex: 0 0 200px;
  align-items: start;
  margin: 20px;
  margin-top: 0;
  flex-basis: 0; }
  .actions .btn:first-child {
    margin-right: 10px; }
  @media only screen and (min-width: 768px) {
    .actions {
      order: 1; }
      .actions .btn:first-child {
        margin-bottom: 20px; } }

.btn {
  background-color: #72C3DC;
  color: #FFFFFF; }

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row; }
  .cards {
    flex-grow: 1; }
  .actions {
    flex: 0 0 200px; } }
