// COLORS
$black: #000000;
$primary: #2B8EAD;
$dark-grey: #333333;
$grey: #6F98A8;
$white: #FFFFFF;
$dark: #BFBFBF;
$light: #EFEFEF;
$light-gray: #2F454E;
$primary-light: #72C3DC;


// FONT
$default-font-size: 1.6rem;
