.container {
  display: flex;
  flex-direction: column;

  .card {
    border-left-width: 6px;
    border-left-style: solid;
    background-color: $light;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 2rem;
  }

  .card1 {
    border-color: $grey;
  }


  .card2 {
    border-color: $primary;
  }

  .card3 {
    border-color: $light-gray;
  }

  .card4 {
    border-color: $primary;
  }

  .card5 {
    border-color: $light-gray;
  }

  .card6 {
    border-color: $dark;
  }

  .card7 {
    border-color: $dark;
  }

  .card8 {
    border-color: $grey;
  }

  .card9 {
    border-color: $light-gray;
  }

  .cards {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, minmax(50px, 1fr));
    grid-gap: 10px;

    @media only screen and (min-width: 768px) {
      & {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, minmax(100px, 1fr));
        grid-gap: 0;
      }

      & .card {
        line-height: 100px;
        border: none;
        color: $white;
        font-size: 7rem;
      }

      & .card1 {
        background-color: $grey;
      }
      & .card2 {
        background-color: $primary;
      }
      & .card3 {
        background-color: $light-gray;
      }
      & .card4 {
        background-color: $primary;
      }
      & .card5 {
        background-color: $light-gray;
      }
      & .card6 {
        background-color: $dark;
      }
      & .card7 {
        background-color: $dark;
      }
      & .card8 {
        background-color: $grey;
      }
      & .card9 {
        background-color: $light-gray;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex: 0 0 200px;
  align-items: start;
  margin: 20px;
  margin-top: 0;
  flex-basis: 0;
  .btn:first-child {
    margin-right: 10px;
  }

  @media only screen and (min-width: 768px) {
    & {
      order: 1;
      .btn:first-child {
        margin-bottom: 20px;
      }
    }
  }
}

.btn {
    background-color: $primary-light;
    color: $white;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .cards {
        flex-grow: 1;
    }

    .actions {
        flex: 0 0 200px;
    }
}